<ion-header>
  <ion-toolbar color="wind">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="flower" >
  <ion-grid class="bek">
    <ion-row >
      <ion-col size="8" size-md="8" offset="2">
          <ion-avatar class="camera">
            <img alt="profpict" *ngIf="imageURL" src="https://ucarecdn.com/{{ imageURL }}/" />
          </ion-avatar>
        <input type="file" (change)="fileChanged($event)"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" size-md="8" offset="4">
        <ion-item color="flower">
          <h1>Titania</h1>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" size-md="8" offset="3">
        <ion-item color="flower">
          <h1>00000020822</h1>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-card>
        <ion-list>
          <ion-item>
              a
          </ion-item>
          <ion-item>
              nanti di ng if
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
