<ion-header>
  <ion-toolbar color="wind">
    <ion-title>Friend List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="flower">
  <ion-grid>
    <ion-row>
      <ion-searchbar showCancelButton="never" color="wind"></ion-searchbar>
    </ion-row>
    <ion-list>
      <ion-card color="wind" *ngFor="let fren of frens">
            <ion-item color="wind">
            <ion-avatar slot="start">
              <ion-img [src]="fren.imageURL"></ion-img>
            </ion-avatar>
              <ion-label>{{fren.name}}</ion-label>
            </ion-item>

      </ion-card>
    </ion-list>

  </ion-grid>

</ion-content>
