<ion-header>
  <ion-toolbar color="wind">
    <ion-title>Friend List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="flower">
  <ion-grid>
    <ion-row>
      <ion-searchbar showCancelButton="never" color="wind"></ion-searchbar>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-list>
          <ion-item>
            nanti di ng if
          </ion-item>
          <ion-item>
            isinya friend list
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>
