.map{
  height: 100%;
  width: 100%;
  position: relative;
}

.marker{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom:0;
  margin: auto;
  width: 32px; // image width
  height: 24px; // image height
  z-index: 1;
}

