<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="tab-friends">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label >Friends List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-main">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>Main</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
